header {
    background: mediumpurple;
}

footer {
    background-color: aqua;
}

#content {
    background-color: yellow;
    background: #aaff34;
}

h1 {
    color: #d93033;
}

li {
    color: #808080;
}