header {
    background: mediumpurple;
}

footer {
    background-color: aqua;
}

/*#content {*/
/*    background: #aaff34;*/
/*}*/

h1 {
    color: #d93033;
}

li {
    color: #ffffff;
}

ul {
    background-color: #d93033;
}

