header {
    background: #e3f2fd;
}

footer {
    background-color: aqua;
}

/*#content {*/
/*    background: #aaff34;*/
/*}*/

h1 {
    color: #d93033;
}

h2 {
    color: #f7f7f7;
}

li:hover {
    color: #37ff34;
    background: #d93033;
}

li > a {
    color: #ff012d;
}

li > a:hover {
    color: #faffe7;
}

nav {
    background-color: #e3f2fd;
}